:root {
	--mainblue: #14248a;
	--secondaryyellow: #e0ca3c;
	--fontblack: #28262c;
	--backgroundwhite: #f9f5ff;
	--fontwhite: #f9f5ff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	height: 100%;
	background: var(--backgroundwhite);
	font-family: Arial, sans-serif;
	padding: 10px;
}

nav {
	display: flex;
	justify-content: space-between;
	/* gap: 30px; */
	/* margin-bottom: 20px; */
	font-weight: bold;
	/* padding: 20px; */
}

nav > a > img {
	width: 2rem;
}

nav a {
	position: relative;
	text-decoration: none;
	color: var(--mainblue);
	font-size: 17px;
	padding-bottom: 5px;
}

nav a::after {
	content: "";
	position: absolute;
	width: 0%;
	height: 2px;
	left: 0;
	bottom: 0;
	background-color: var(--mainblue);
	transition: width 0.3s ease;
}

nav a:hover::after,
nav a.active::after {
	width: 100%;
}

main {
	display: grid;
	/* grid-template-columns: repeat(2, 1fr); */
	gap: 30px;
	/* padding: 20px; */
	/* margin-top: 30px; */
}

.our-services,
.booking {
	background: var(--backgroundwhite);
	border-radius: 1rem;
	/* padding: 20px; */
	/* box-shadow: 0 0 10px var(--fontblack); */
}

.our-services h2,
.booking h2 {
	border-bottom: 2px solid var(--mainblue);
	/* padding-bottom: 10px; */
	margin-bottom: 20px;
	color: var(--mainblue);
}

.services {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.service {
	display: grid;
	gap: 5px;
	border: 1px solid var(--mainblue);
	width: fit-content;
	/* border: 1px solid var(--mainblue); */
	/* text-align: center; */
	border-radius: 10px;
	padding: 10px;
	transition: transform 0.3s ease;
}

.service:hover {
	transform: scale(1.05);
	background-color: var(--backgroundwhite);
}

.service img {
	width: 100%;
	border-radius: 8px;
}

.service p {
	text-decoration: none;
	color: var(--mainblue);
	font-size: small;
	margin: auto;
	/* display: block; */
	/* width: fit-content; */
}

.booking form {
	display: flex;
	flex-direction: column;
	gap: 5px;
	box-shadow: 0 0 10px var(--fontblack);
	background: var(--backgroundwhite);
	border-radius: 10px;
	padding: 20px;
}

form > div > label {
	font-size: small;
}

.booking input,
.booking select {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #aaa;
	font-size: 14px;
}

.booking button {
	background-color: var(--mainblue);
	color: white;
	border: none;
	padding: 12px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.booking button:hover {
	background-color: var(--backgroundwhite);
	color: var(--mainblue);
	border: 1px solid var(--mainblue);
}

label {
	color: var(--mainblue);
}

@media (width >= 1024px) {
	/* laptop only styles go here */
	nav > a > img {
		width: 2.5rem;
	}

	main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		/* padding: 20px; */
		margin-top: 30px;
	}
}
