:root {
	--mainblue: #14248a;
	--secondaryyellow: #e0ca3c;
	--fontblack: #28262c;
	--backgroundwhite: #f9f5ff;
	--fontwhite: #f9f5ff;
}

/* Reset all default HTML styles */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html,
body {
	height: 100%;
	color: var(--fontblack);
}

body {
	padding: 10px;
	background-color: var(--backgroundwhite);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav > img {
	width: 2rem;
}

nav > a > button {
	background-color: var(--fontwhite);
	border: 1px solid var(--mainblue);
	color: var(--mainblue);
	cursor: pointer;
}

nav > a > button:hover {
	background-color: var(--mainblue);
	color: var(--fontwhite);
}

hr {
	height: 1px;
	background-color: var(--mainblue);
}

h1 {
	font-size: large;
	color: var(--fontblack);
}

h2 {
	text-align: center;
	margin-top: 50px;
	color: var(--mainblue);
}

#editBookingButton,
#updateBookingButton,
#confirmDeleteButton,
#cancelDeleteButton,
#cancelDeleteEnquiryButton {
	background-color: var(--mainblue);
	color: var(--fontwhite);
	cursor: pointer;
	border: 1px solid var(--mainblue);
	transition: background-color 0.3s, color 0.3s;
}

#editBookingButton:hover,
#updateBookingButton:hover,
#confirmDeleteButton:hover,
#cancelDeleteButton:hover,
#cancelDeleteEnquiryButton:hover {
	background-color: var(--backgroundwhite);
	color: var(--mainblue);
}

#deleteBookingButton,
#deleteEnquiryButton,
#cancelUpdateButton {
	background-color: var(--backgroundwhite);
	border: 1px solid red;
	color: red;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

#deleteBookingButton:hover,
#deleteEnquiryButton:hover,
#cancelUpdateButton:hover {
	background-color: red;
	color: var(--fontwhite);
}

#bookingHeadingAndButtonsDiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#enquiriesHeadingAndButtonsDiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#screenNotBigParagraphTag {
	color: var(--mainblue);
}

table {
	border: 1px solid var(--mainblue);
	padding: 10px;
	width: 100%;
	text-align: center;
	border-radius: 1rem;
	margin-top: 10px;
}

th {
	background-color: var(--mainblue);
	padding: 10px;
	color: var(--fontwhite);
	border-radius: 1rem;
}

td {
	padding: 10px;
	border-bottom: 1px solid var(--mainblue);
}

dialog {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border: 1px solid var(--mainblue);
	color: var(--mainblue);
	border-radius: 1rem;
}

dialog > form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

form > div {
	display: grid;
}

form > div > input,
select {
	border: 1px solid var(--mainblue);
	padding: 10px;
	border-radius: 1rem;
}

dialog > form > div {
	display: grid;
	gap: 5px;
}

form > input,
select,
button {
	border: 1px solid var(--mainblue);
	padding: 10px;
	border-radius: 1rem;
}

section {
	margin-top: 40px;
	margin-bottom: 40px;
}

select {
	background-color: var(--backgroundwhite);
	color: var(--mainblue);
}

.dialogDiv {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 10px;
}

#confirmDeleteButton {
	background-color: var(--backgroundwhite);
	color: red;
	border: 1px solid red;
}

#confirmDeleteButton:hover {
	background-color: red;
	color: var(--fontwhite);
	border: 1px solid red;
}

@media (width >= 1024px) {
	/* laptop only styles go here */
	nav > img {
		width: 2.5rem;
	}
}
